@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Great Vibes, Times New Roman, sans-serif;
    font-weight: 400;
}

header {
    background-color: #206A5D;
}

header a {
    color: white;
    text-decoration: none;
}

#shop-logo {
    font-size: 300%;
    text-align: center;
    padding-top: 10px;

}

#menu {
    margin: 0 auto;
    text-align: center;
}

#menu li {
    font-size: 120%;
    display: inline-block;
    padding: 10px;
    list-style-type: none;
    float: none;
}

#menu li:hover {
    text-decoration: underline;
}
