@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Great Vibes, Times New Roman, sans-serif;
    font-weight: 400;
}

header {
    background-color: #206A5D;
}

header a {
    color: white;
    text-decoration: none;
}

#shop-logo {
    font-size: 300%;
    text-align: center;
    padding-top: 10px;

}

#menu {
    margin: 0 auto;
    text-align: center;
}

#menu li {
    font-family: Montserrat, Times New Roman, sans-serif;
    font-size: 100%;
    display: inline-block;
    padding: 10px;
    list-style-type: none;
    float: none;
}

#menu li:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    filter: brightness(30%);
}

.background-image {
    position: relative;
}

.cover-text-title {
    width: 30%;
    color: white;
    position: absolute;
    left: 35%;
    top: 30%;
    text-align: center;
    font-size: 200%;
    
}

.cover-text {
    height: 40%;
    width: 30%;
    color: white;
    font-family: Montserrat, Times New Roman, sans-serif;
    position: absolute;
    left: 35%;
    top: 50%;
    text-align: center;
    line-height: 40px;
}



