@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Great Vibes, Times New Roman, sans-serif;
    font-weight: 400;
}

/* Header: shop logo and navigation bar */
header {
    background-color: #206A5D;
    height: 110px;
}

header a {
    color: white;
    text-decoration: none;
}

#shop-logo {
    font-size: 300%;
    text-align: center;
    padding-top: 10px;

}

#menu {
    margin: 0 auto;
    text-align: center;
}

#menu li {
    font-family: Montserrat, Times New Roman, sans-serif;
    font-size: 100%;
    display: inline-block;
    padding: 10px;
    list-style-type: none;
    float: none;
}

#menu li:hover {
    text-decoration: underline;
}

/* Main sections: background image, section title and content */
img {
    width: 100%;
    filter: brightness(30%);
}

section {
    height: 800px;
    overflow: hidden;
    border-bottom: 1px solid #9db1a4;
}

.homepage, .section-one {
    border-top: 1px solid #9db1a4;
}

.homepage, .section-one, .section-two, .section-three {
    position: relative;
}

.cover-text-title, .section-one-title, .section-two-title, .section-three-title {
    width: 70%;
    color: white;
    position: absolute;
    left: 15%;
    top: 10%;
    text-align: center;
    font-size: 200%;
    
}

.cover-text, .section-one-text, .section-two-text, .section-three-text {
    height: 40%;
    width: 70%;
    color: white;
    font-family: Montserrat, Times New Roman, sans-serif;
    position: absolute;
    left: 15%;
    top: 25%;
    text-align: justify;
    line-height: 40px;
}

.contacts-section-one-text {
    height: 40%;
    width: 70%;
    color: white;
    font-family: Montserrat, Times New Roman, sans-serif;
    position: absolute;
    left: 15%;
    top: 25%;
    text-align: left;
    line-height: 40px;
}

.info-details {
    font-weight: 900;
    text-decoration: underline;

}

#iframe {
    height: 50%;
    position: absolute;
    right: 25%;
    bottom: 55%;
}

/* Contact form */
.contact-form {
    width: 40%;
    padding: 2%;
    color: white;
    font-family: Montserrat, Times New Roman, sans-serif;
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: left;
    border: 2px solid white;
}

input, label {
    display: block;
    width: 100%;
}

#textarea {
    width: 100%;
    font-family: Montserrat, Times New Roman, sans-serif;
    font-weight: 700;
    color: black;
}

.send-button {
    background-color: white;
    font-family: Montserrat, Times New Roman, sans-serif;
    color: black;
    font-weight: 700;
    font-size: 100%;
}

.send-button:hover {
    background-color: black;
    color: white;
}

/* Footer: copyright and social media links */
footer {
    height: 55px;
    background-color: #206A5D;
    position: relative;
}

.copyright {
    font-family: Montserrat, Times New Roman, sans-serif;
    font-size: 100%;
    color: white;
    float: left;
    position: absolute;
    left: 10px;
    top: 30%;
    
}

.social-media {
    float: right;
    position: absolute;
    right: 10px;
    top: 30%;
    font-size: 100%;
    letter-spacing: 30px;
}

.social-media a {
    color: white;
    list-style-type: none;
}

.social-media li {
    display: inline-block;
}

/* Media queries */
/* For screens size of 1200px and down */
@media screen and (max-width: 1200px) {
    .cover-text-title, .section-one-title, .section-two-title, .section-three-title {
        top: 2%;
    }
    
    .cover-text, .section-one-text, .section-two-text, .section-three-text {
        height: 60%;
        top: 20%;
        font-size: 70%;
        padding: 2%;
        }

    section {
        height: 1200px;
            
    }
        
    #iframe {
        width: 40%;
        position: absolute;
        left: 45%;
        top: 15%;  
    }
}

/* For screens size of 900px and down */
@media screen and (max-width: 900px) {
    header {
        height: 80%;
    }

    #shop-logo {
        font-size: 250%
    }

    #menu li {
        font-size: 80%;
    }

    section {
        height: 100%;
    }

    .homepage, .section-one {
        margin-top: 5px;
    }

    .cover-text-title, .section-one-title, .section-two-title, .section-three-title {
        top: 2%;
        font-size: 150%
    }

    .cover-text, .section-two-text {
        top: 20%;
        line-height: 25px;
    }
    
    .section-one-text, .section-three-text {
        top: 10%;
        line-height: 25px;
    }

    .contacts-section-one-text {
        top: 10%;
        line-height: 35px;
    }
    
    #iframe {
        width: 30%;
        left: 60%;
        bottom: 55%;
    }
    
    .contact-form {
        top: 12%;
        
    }

    #textarea {
        height: 180px;
    }

    footer {
        height: 45px;
    }
    
    .copyright {
        font-size: 80%;
        top: 35%;
    }

    .social-media {
        font-size: 80%;
        top: 35%
    }
    
}

/* For screens size of 640px and down */
@media screen and (max-width: 640px) {
    #shop-logo {
        font-size: 200%
    }

    #menu li {
        font-size: 60%;
    }

    .cover-text-title, .section-one-title, .section-two-title, .section-three-title {
        top: 5%;
        font-size: 100%
    }

    .cover-text, .section-two-text {
        top: 20%;
        line-height: 22px;
    }
    
    .section-one-text, .section-three-text {
        top: 10%;
        line-height: 20px;
    }

    .contacts-section-one-text {
        top: 20%;
        line-height: 25px;
    }

    #iframe {
        width: 25%;
        left: 65%;
        top: 5%;
    }

    .contact-form {
        width: 50%;
        left: 25%;
    }

    #textarea {
        height: 180px;
    }

    .copyright {
        font-size: 60%;
        top: 35%;
    }

    .social-media {
        font-size: 60%;
        top: 35%
    }
}
        
/* For screens size of 420px and down */
@media screen and (max-width: 420px) {
    section {
        height: 900px;
    }

    .homepage {
        height: 650px;

    }

    .cover-text-title, .section-one-title, .section-two-title, .section-three-title {
        top: 11%;
        font-size: 150%
    }

    .section-one-text, .section-two-text, .section-three-text, .contacts-section-one-text {
        color: black;
        width: 60%;
        height: 580px;
        top: 32%;
        left: 20%;
        line-height: 24px;
        text-align: center;
        border: 2px solid black;
    }

    .cover-text {
        color: black;
        width: 50%;
        height: 300px;
        top: 46%;
        left: 23%;
        line-height: 22px;
        border: 2px solid black;
    }

    #iframe {
        width: 50%;
        height: 16%;
        left: 5%;
        top: 50%;
    }

    .contact-form {
        width: 70%;
        height: 45%;
        color: black;
        top: 40%;
        left: 12%;
        border: 2px solid black;
    }
    
    input {
        border: 2px solid black
    }
    
    #textarea {
        height: 100%;
        color: black;
        border: 2px solid black
    }
}
        
    
